<nav>
    <div class="site-title">
        <a  style="font-style: oblique;" href="/"><h1>Siklista</h1></a>
        <p>A blog site about my most epic bike rides</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
        <form class="d-flex ms-3 ms-auto" method="POST" action="/blogs/search">
            <input class="searchedKeywordTextBox" type="text" placeholder="Search" aria-label="Search" name="searchedKeyword">
            <button type="submit" class="btn btn-primary searchbtn">Search</button>
        </form>
    </ul>
</nav>