<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About me</h2>
        <p>Hi, I am Gabriel Usita. I am currently a 4th year student pursuing the program BS Information Technology in University of Santo Tomas. I am also an intern in TELUS International Philippines - Digital Solutions under the Full-Stack Dev team. And I am also a Cyclist who enjoys going to challenging destinations.</p><br><br>
    </div>
    <img src="img4.jpg" alt="img4" width="330" height="500" style="padding-left: 90px; ">
    <img src="img5.jpg" alt="img5" width="330" height="500" >
    <img src="img6.jpg" alt="img6" width="350" height="500" >




    <%- include('./partials/footer.ejs') %>

    
</body>
</html>